@import "bootstrap/dist/css/bootstrap.css";


/*VARIABLES */
:root {
    --bg-dark: #2C3E50;
    --body-bg: #ECF0F1;
    --body-text: #34495E;
}


/*COMPONENTS*/
.nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid white;
}
.bg-dark {
    background-color: var(--bg-dark) !important;
}
.nav-link {
    color: white !important;
}
.nav-link.active {
    font-weight: bold;
    border-bottom: 2px solid white;
}
body {
    background-color: var(--body-bg);
    color: var(--body-text);
}
footer {
    background-color: #34495E;
    color: var(--body-text);
}
